<form [formGroup] = form>
  <ng-template #controlTemplate let-controlName let-type = "type" let-translation = "translation">
    <div>
      <mat-form-field class="form__inputWrapper">
        <input class = "form__input" matInput [type]="type" [placeholder]="translation" [formControlName]="controlName">
      </mat-form-field>
    </div>
  </ng-template>
  <button class="form__close" mat-icon-button (click) = "closeDialog()">
    <mat-icon>close</mat-icon>
  </button>
  <div style="display: flex">
    <div style="margin-right: 40px">
      <ng-container *ngTemplateOutlet="controlTemplate; context: {$implicit: 'name', type: 'text', translation: 'Имя'}"></ng-container>
      <ng-container *ngTemplateOutlet="controlTemplate; context: {$implicit: 'surname', type: 'text', translation: 'Фамилия'}"></ng-container>
      <ng-container *ngTemplateOutlet="controlTemplate; context: {$implicit: 'patronic', type: 'text', translation: 'Отчество'}"></ng-container>
      <ng-container *ngTemplateOutlet="controlTemplate; context: {$implicit: 'age', type: 'text', translation: 'Возраст'}"></ng-container>
      <ng-container *ngTemplateOutlet="controlTemplate; context: {$implicit: 'birthdayDate', type: 'date', translation: 'Дата рождения'}"></ng-container>
      <ng-container *ngTemplateOutlet="controlTemplate; context: {$implicit: 'gender', type: 'text', translation: 'Пол'}"></ng-container>
    <ng-container *ngTemplateOutlet="controlTemplate; context: {$implicit: 'education', type: 'text', translation: 'Образование'}"></ng-container>
    </div>
    <div>
      <ng-container *ngTemplateOutlet="controlTemplate; context: {$implicit: 'projectName', type: 'text', translation: 'Проект'}"></ng-container>
      <ng-container *ngTemplateOutlet="controlTemplate; context: {$implicit: 'companyPosition', type: 'text', translation: 'Должность'}"></ng-container>
      <ng-container *ngTemplateOutlet="controlTemplate; context: {$implicit: 'salary', type: 'text', translation: 'Зарплата'}"></ng-container>
      <ng-container *ngTemplateOutlet="controlTemplate; context: {$implicit: 'interviewDate', type: 'date', translation: 'День собеседования'}"></ng-container>
      <ng-container *ngTemplateOutlet="controlTemplate; context: {$implicit: 'firstWorkDayDate', type: 'date', translation: 'Первый рабочий день'}"></ng-container>
      <ng-container *ngTemplateOutlet="controlTemplate; context: {$implicit: 'salaryHistory', type: 'text', translation: 'История зарплаты'}"></ng-container>
    </div>
  </div>
  <div>
    <button class="form__btn" mat-flat-button color="primary" (click) = "createUser()">Сохранить пользователя</button>
  </div>
</form>
