.wrapper{
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
  display: grid;
  grid-template-columns: 7fr 3fr;
  column-gap: 100px;
}

.projects{
  &__list{
    width: 100%;
    list-style: none;
    margin: 40px 50px 0 0;
    padding: 0;
  }

  &__name-filter{
    width: 100%;
  }

  &__add{
    display: block;
    margin-left: auto;
  }

  &__filter{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20%;
  }

  &__filter-clear{
    width: 30%;
    margin: 0 auto;
  }
}
