.form{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: auto;
    margin-top: 300px;
  &__inputField{
     width: 100%;
   }
  &__signInBtn{
     align-self: center;
     width: 100%;
   }
  &__link{
     color: gray;
     text-align: center;
     margin-top: 10px;
  &:hover{
     cursor: pointer;
   }
  }
  .ng-invalid{

  }
}
