.wrapper{
  padding-top: 100px;
  width: 1300px;
  margin: 0 auto;
}

.userInfo{
  display: flex;
  justify-content: space-between;
  margin-left: 200px;
}

.editBtn, .restoreBtn{
  position: absolute;
  top: 9px;
  right: 90px;
}

.returnBtn{
  position: absolute;
  top: 0px;
  left: 20px;
}

.salaryInfo{
  &__description{
    display: flex;
    align-items: flex-end;
  }
  &__items{
    margin-left: 40px;
  }
  &__item{
    display: flex;
    p{
      margin-right: 40px;
    }
  }
}

.salaryItem{
  display: flex;
  &__date{
    margin-right: 30px;
  }
  &__raiseStatus{
    align-self: center;
    margin-bottom: 25px;
  }
  &__raisePercent{
    align-self: center;
    margin-left: 20px;
    font-size: 16px;
    margin-bottom: 25px;
    &-up{
      color: green;
    }
    &-down{
      color: red;
    }
  }
}

p{
  font-size: 16px;
  span{
    color: grey;
  }
}

.form{
  &__saveBtn{
    margin-left: 33%;
  }
}

.spinner{
  margin-left: 35%;
  margin-top: 18%;
}

.imgWrapper{
  display: flex;
  flex-direction: column;
}

.btnChangeHireStatus{
  margin-top: 20px;
}
