<header class="header">
  <div class="header__container">
    <div class="header__content">
      <div class="header__toggle">
        <mat-icon>{{ mode }}</mat-icon>
          <mat-slide-toggle [(ngModel)]="isChecked" (change)="changed($event)"
            ></mat-slide-toggle
          >
          <button mat-icon-button (click) = "exitFromAccount()" *ngIf="authS.isAuthorized$ | async"
                  matTooltip="Выйти"
          >
            <mat-icon>exit_to_app</mat-icon>
          </button>
      </div>
    </div>
  </div>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer></footer>
