<header class="header">
  <div class="header__container">
    <nav class="navigation">
      <a class="navigation__link" routerLink="projects" routerLinkActive="active">Проекты</a>
      <a class="navigation__link" routerLink="users" routerLinkActive="active">Сотрудники</a>
    </nav>
    <div class="header__content">
      <div class="header__toggle">        
       
        <mat-icon>{{ mode }}</mat-icon>
        <mat-slide-toggle
          [(ngModel)]="isChecked"
          (change)="changed($event)"
          matTooltip="Сменить тему"
        ></mat-slide-toggle>
    
        <mat-select class="header__translate-select" (selectionChange)="selectLanguage($event)" [(value)]="selected" >
          <mat-select-trigger>{{ selected === "ru" ? "🪆" : "👸"}}{{selected | titlecase}}</mat-select-trigger>
          <mat-option class="header__translate-option" value="ru">{{ "data.russian" | translate }}</mat-option>
          <mat-option class="header__translate-option" value="en">{{ "data.english" | translate }}</mat-option>
        </mat-select>    
      </div>
    </div>
  </div>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer></footer>
