<header class="header">
  <div class="header__container">
    <div class="header__content">
      <div class="header__toggle">
        <mat-select (selectionChange)="selectLanguage($event)">
          <mat-option value="ru">{{ "data.russian" | translate }}</mat-option>
          <mat-option value="en">{{ "data.english" | translate }}</mat-option>
        </mat-select>
 
        
        
        <mat-icon>{{ mode }}</mat-icon>
        <mat-slide-toggle
          [(ngModel)]="isChecked"
          (change)="changed($event)"
          matTooltip="Сменить тему"
        ></mat-slide-toggle>
        <select (change)="selectLanguage($event)">
          <option value="ru">{{ "data.russian" | translate }}</option>
          <option value="en">{{ "data.english" | translate }}</option>
        </select>
    
        
      </div>
    </div>
  </div>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer></footer>
