.header{
  &__container{
    padding: 0 40px;
  }
  &__content{
    display: flex;
    justify-content: flex-end;
  }
  &__toggle{
    display: flex;
    gap: 10px;
    height: 48px;
    align-items: center;
    margin: 20px 0 0 0;
  }
  .navigation{
    color: cornflowerblue;
    font-size: 12px;
    position: absolute;
    left: 0;
    top: 10px;
    &__link{
      margin-left: 20px;
      text-transform: uppercase;
      text-decoration: none;
    }
  }
}

.active{
  color: forestgreen;
}
