<mat-spinner
  class="spinner"
  *ngIf="isLoading$ | async; else createUserTemplate"
></mat-spinner>

<ng-template #createUserTemplate>
  <form [formGroup]="form" class="form">
    <ng-template #defaultTemplate let-controlName>
      <div>
        <mat-form-field
          class="form__inputWrapper"
          appearance="outline"
          *ngIf="controlName !== 'gender'; else genderTemplate"
        >
          <mat-label>{{ controlName }}</mat-label>
          <input class="form__input" matInput [formControlName]="controlName" />
        </mat-form-field>
        <ng-container
          *ngIf="
            form.controls[controlName].invalid &&
            form.controls[controlName].touched
          "
        >
          <app-error-handler
            [errors]="form.controls[controlName].errors"
          ></app-error-handler>
        </ng-container>
      </div>
    </ng-template>

    <ng-template #genderTemplate let-controlName>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>{{ controlName }}</mat-label>
          <mat-select [formControlName]="controlName">
            <mat-option [value]="'Мужской'"
              >"{{ "data.male" | translate }}"</mat-option
            >
            <mat-option [value]="'Женский'"
              >"{{ "data.female" | translate }}"</mat-option
            >
          </mat-select>
        </mat-form-field>
        <ng-container
          *ngIf="
            form.controls[controlName].invalid &&
            form.controls[controlName].touched
          "
        >
          <app-error-handler
            [errors]="form.controls[controlName].errors"
          ></app-error-handler>
        </ng-container>
      </div>
    </ng-template>

    <ng-template #companyPositionTemplate let-controlName>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>{{ controlName }}</mat-label>
          <mat-select [formControlName]="controlName">
            <mat-option [value]="'Разработчик'"
              >"{{ "data.developer" | translate }}"</mat-option
            >
            <mat-option [value]="'Тестировщик'"
              >"{{ "data.tester" | translate }}"</mat-option
            >
            <mat-option [value]="'DevOps инженер'"
              >DevOps "{{ "data.engineer" | translate }}"</mat-option
            >
            <mat-option [value]="'Менеджер по подбору персонала'"
              >HR "{{ "data.manager" | translate }}"</mat-option
            >
            <mat-option [value]="'Системный администратор'"
              >"{{ "data.sysAdmin" | translate }}"</mat-option
            >
            <mat-option [value]="'Дизайнер'"
              >"{{ "data.designer" | translate }}"</mat-option
            >
          </mat-select>
        </mat-form-field>
        <ng-container
          *ngIf="
            form.controls[controlName].invalid &&
            form.controls[controlName].touched
          "
        >
          <app-error-handler
            [errors]="form.controls[controlName].errors"
          ></app-error-handler>
        </ng-container>
      </div>
    </ng-template>

    <ng-template #dateTemplate let-controlName>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>{{ controlName }}</mat-label>
          <input
            readonly
            matInput
            [matDatepicker]="picker"
            [formControlName]="controlName"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <ng-container
          *ngIf="
            form.controls[controlName].invalid &&
            form.controls[controlName].touched
          "
        >
          <app-error-handler
            [errors]="form.controls[controlName].errors"
          ></app-error-handler>
        </ng-container>
      </div>
    </ng-template>

    <ng-template #salaryHistoryTemplate let-control let-index="index">
      <div class="salaryItem">
        <div *ngLet="control.get('date') as dateControl">
          <mat-form-field class="salaryItem__date" appearance="outline">
            <mat-label>Укажите дату</mat-label>
            <input
              readonly
              matInput
              [matDatepicker]="picker"
              [formControl]="dateControl"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <ng-container *ngIf="dateControl.invalid && dateControl.touched">
            <app-error-handler
              [errors]="dateControl.errors"
            ></app-error-handler>
          </ng-container>
        </div>
        <div *ngLet="control.get('salary') as salaryControl">
          <mat-form-field class="form__inputWrapper" appearance="outline">
            <mat-label>Укажите зарплату</mat-label>
            <input
              class="form__input"
              matInput
              type="text"
              [formControl]="salaryControl"
            />
          </mat-form-field>
          <ng-container *ngIf="salaryControl.invalid && salaryControl.touched">
            <app-error-handler
              [errors]="salaryControl.errors"
            ></app-error-handler>
          </ng-container>
        </div>
        <button
          mat-icon-button
          (click)="removeSalaryHistoryItem(index)"
          [disabled]="salaryHistoryForm.length === 1"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </ng-template>
    <button
      class="form__close"
      mat-icon-button
      (click)="openLeaveDialog()"
      matTooltip="К списку"
    >
      <mat-icon>arrow_back</mat-icon>
    </button>
    <div>
      <img
        src="assets/img/temporary-user.PNG"
        #imgContainer
        width="300px"
        height="300px"
      />
      <button
        class="btn"
        mat-flat-button
        color="primary"
        (click)="imgInput.click()"
      >
        {{ "data.uploadImg" | translate }}
      </button>
      <input
        (change)="uploadImg()"
        #imgInput
        id="imgInput"
        type="file"
        accept="image/png, image/jpeg"
      />
    </div>
    <div style="display: flex; flex-direction: column">
      <ng-container *ngFor="let prop of userKeys">
        <ng-container *ngIf="prop.templateName === 'defaultTemplate'">
          <ng-container
            *ngTemplateOutlet="
              defaultTemplate;
              context: { $implicit: prop.propName }
            "
          ></ng-container>
        </ng-container>
        <ng-container *ngIf="prop.templateName === 'dateTemplate'">
          <ng-container
            *ngTemplateOutlet="
              dateTemplate;
              context: { $implicit: prop.propName }
            "
          ></ng-container>
        </ng-container>
        <ng-container *ngIf="prop.templateName === 'companyPositionTemplate'">
          <ng-container
            *ngTemplateOutlet="
              companyPositionTemplate;
              context: { $implicit: prop.propName }
            "
          ></ng-container>
        </ng-container>
        <ng-container *ngIf="prop.templateName === 'genderTemplate'">
          <ng-container
            *ngTemplateOutlet="
              genderTemplate;
              context: { $implicit: prop.propName }
            "
          ></ng-container>
        </ng-container>
      </ng-container>
      <div class="form__salaryHistory">
        <div class="wrapper">
          <p class="form__salaryHistory-subtitle">
            <span>История зарплаты:</span>
          </p>
          <button mat-icon-button (click)="addSalaryHistoryItem()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <ng-container
          *ngFor="let salaryItem of salaryHistoryForm.controls; let i = index"
        >
          <ng-container
            *ngTemplateOutlet="
              salaryHistoryTemplate;
              context: { $implicit: salaryItem, index: i }
            "
          >
          </ng-container>
        </ng-container>
      </div>
      <button
        class="form__btn"
        mat-flat-button
        color="primary"
        (click)="createUser()"
        [disabled]="form.invalid"
      >
        {{ "data.saveUser" | translate }}
      </button>
    </div>
  </form>
</ng-template>
