<section class="users">
  <mat-form-field class = "name__input">
    <input #nameInput matInput placeholder="Введите имя сотрудника">
  </mat-form-field>
  <div class="wrapper" *ngLet="filters$ | async as searchFilters">
    <div class="users__info">
      <button class="users__addBtn" mat-icon-button (click) = "openCreateUserDialog()">
        <mat-icon>add</mat-icon>
      </button>
      <ul class="users__list" *ngLet="users$ | async | searchFilter: searchFilters  as filteredUsers">
          <li class="users__item" *ngFor="let user of filteredUsers
           | paginate: {itemsPerPage: itemsPerPage, currentPage: filteredUsers.length > itemsPerPage ? currentPage : 1}">
            <mat-card class="users__card" (click) = "openUserDetailedInfo(user.id!)">
              <mat-card-header>
                <mat-card-title-group>
                  <mat-card-title>{{user.surname}} {{user.name}} {{user.patronic}}</mat-card-title>
                  <mat-card-subtitle>{{user.companyPosition}}</mat-card-subtitle>
                </mat-card-title-group>
              </mat-card-header>
              <mat-card-content class="matCardContent">
                <div>
                  <p><span>Проект:</span> {{user.projectName}}</p>
                  <p><span>Возраст:</span> {{user.age}}</p>
                  <p><span>Пол:</span> {{user.gender}}</p>
                  <p><span>Заработная плата:</span> {{user.salary | currency: "RUB" }}</p>
                </div>
                <img class="users__img" mat-card-xl-image src="assets/img/temporary-user.PNG" alt="Employee photo">
              </mat-card-content>
            </mat-card>
          </li>
      </ul>
    </div>
  <div class="users__filter">
    <label>Заработная плата</label>
    <label>От {{searchFilters.salary.from}} До {{searchFilters.salary.to}}</label>
    <mat-slider min="1000" max="1000000" step="1000" discrete >
      <input [(ngModel)]="searchFilters.salary.from" matSliderStartThumb>
      <input [(ngModel)]="searchFilters.salary.to" matSliderEndThumb>
    </mat-slider>
    <mat-form-field appearance="outline">
      <mat-label>Должность</mat-label>
      <mat-select [(ngModel)]="searchFilters.companyPosition">
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Пол</mat-label>
      <mat-select [(ngModel)]="searchFilters.gender">
        <mat-option [value]="'Не указан'">Не указан</mat-option>
        <mat-option [value]="'Мужской'">Мужской</mat-option>
        <mat-option [value]="'Женский'">Женский</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Проект</mat-label>
      <mat-select>
      </mat-select>
    </mat-form-field>
    <button [disabled] = "!filtersAreSet()" (click) = "resetFilters()" class = "users__filter-reset" mat-icon-button>
      <mat-icon [inline]="true">settings_backup_restore</mat-icon>
    </button>
  </div>
  </div>
  <pagination-controls class="users__paginator" (pageChange)="currentPage = $event" previousLabel = "" nextLabel= "">
  </pagination-controls>
</section>


