<div class="wrapper">
  <mat-form-field class = "name__input">
    <input #nameInput matInput>
  </mat-form-field>
  <ul *ngIf="users$ | async | searchFilter: nameFilterValue as filteredUsers">
      <li *ngFor="let user of filteredUsers | paginate: {itemsPerPage: itemsPerPage, currentPage: filteredUsers.length > itemsPerPage ? currentPage : 1}">
        <p>{{user.surname}}</p>
        <p>{{user.name}}</p>
        <p>{{user.patronic}}</p>
        <p>{{user.age}}</p>
      </li>
  </ul>
  <pagination-controls (pageChange)="currentPage = $event" previousLabel = "" nextLabel= "">
  </pagination-controls>
</div>


