
.users{
  padding: 0 30px;
  width: 1200px;
  margin: 0 auto;
  &__addBtn{
    position: absolute;
    right: 290px;
    top: 72px;
  }
  &__list{
    list-style: none;
    padding: 0px;
  }
  &__item{
    width: 900px;
    margin-bottom: 20px;
  }
  &__card{
    padding-bottom: 10px;
    &-successfulWorker{
      border: green dashed 2px;
    }
    &-unsuccessfulWorker{
      border: red dashed 2px;
    }
  }
  &__link{
   text-align: center;
    color: grey;
    cursor: pointer;
    transition: 0.5s;
    &:hover{
      text-decoration: underline;
      transform: scale(1.1);
    }
  }
}

.wrapper{
  position: relative;
  padding-top: 110px;
  display: flex;
  justify-content: space-between;
}
.name__input{
  width: 100%;
}

:host ::ng-deep .ngx-pagination{
  margin-left: 30% !important;
}

:host ::ng-deep .matCardContent{
  display: flex;
  justify-content: space-between;
  align-items: center;
  p{
    font-size: 16px;
    span{
      font-weight: bold;
    }
  }
}

:host ::ng-deep .filters{
  width: 150%;
  .name__input{
    position: absolute;
    top: 10px;
    width: 75%;
    left: 0px;
  }
}

.spinner{
  margin: 0 auto;
  margin-top: 18%;
}



