.wrapper{
  width: 500px;
  padding-top: 10%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__title, &__text{
    text-align: center;
  }
  &__btn{
    margin-top: 20px;
  }
}

.spinner{
  margin: 0 auto;
  margin-top: 29%;
}
